<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>andrelas1</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes"
    />
    <script
      async
      src="https://kit.fontawesome.com/3c9a665878.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="img"></div>
      <div class="text">
        <h1><%= 'andrelas1' %></h1>
        <h2><%= 'some ideas' %></h2>
      </div>
    </header>
    <main>
      <section id="articles">
        <article id="article-first">
          <h3 class="article-header">This is a NICE post about stuff</h3>
          <p class="article-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor
            libero, elementum ornare sem id, malesuada congue arcu. Cras eu
            augue magna. Aliquam eget neque lobortis, placerat dui vitae,
            sollicitudin nisi. Mauris imperdiet vehicula elit, non iaculis magna
            facilisis vel. Maecenas volutpat dictum tortor at scelerisque.
            Aliquam condimentum mauris lectus, sit amet efficitur tellus
            molestie a. In id erat turpis. Fusce porttitor nisi eros, ut cursus
            orci rutrum vitae.<a>See more...</a>
          </p>
        </article>
        <article id="article-second">
          <h3 class="article-div">Not sure, which title?</h3>
          <p class="article-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor
            libero, elementum ornare sem id, malesuada congue arcu. Cras eu
            augue magna. Aliquam eget neque lobortis, placerat dui vitae,
            sollicitudin nisi. Mauris imperdiet vehicula elit, non iaculis magna
            facilisis vel. Maecenas volutpat dictum tortor at scelerisque.
            Aliquam condimentum mauris lectus, sit amet efficitur tellus
            molestie a. In id erat turpis. Fusce porttitor nisi eros, ut cursus
            orci rutrum vitae.<a>See more...</a>
          </p>
        </article>
        <article id="article-third">
          <h3 class="article-header">Hmmm, this font is cooooooll!!!</h3>
          <p class="article-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor
            libero, elementum ornare sem id, malesuada congue arcu. Cras eu
            augue magna. Aliquam eget neque lobortis, placerat dui vitae,
            sollicitudin nisi. Mauris imperdiet vehicula elit, non iaculis magna
            facilisis vel. Maecenas volutpat dictum tortor at scelerisque.
            Aliquam condimentum mauris lectus, sit amet efficitur tellus
            molestie a. In id erat turpis. Fusce porttitor nisi eros, ut cursus
            orci rutrum vitae.<a>See more...</a>
          </p>
        </article>
      </section>

      <section id="info">
        <ul>
          <li>
            <i class="fas fa-chevron-right"></i>
            <h3>About me</h3>
          </li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <h3>More articles on my blog</h3>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <ul>
        <li>
          <a src="mailto:andre.santos0906@gmail.com" alt="email">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li>
          <a src="https://twitter.com/andresantos_09" alt="twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a src="https://github.com/andrelas1" alt="github">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a src="https://www.linkedin.com/in/andrelas/" alt="linkedin">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
