@import "../shared/styles/colors";
@import "../shared/styles/mixins";

@include fonts;

@include global;

#header-link {
  text-decoration: none;
}

header {
  @include header;
}
body {
  @include body;
  main {
    @include main;

    section {
      h1 {
        margin: 0;
        margin-bottom: 0.5em;
        font-weight: 900;
        font-size: 2em;
        letter-spacing: 0;
        color: $red;
      }
      h2 {
        margin: 0;
        margin-bottom: 0.5em;
        font-weight: 200;
        font-size: 1.5em;
        letter-spacing: 0;
        color: $red;
      }
      p {
        font-size: 1.1em;
        line-height: 1.5em;
        font-weight: 400;
      }
    }
  }
}

footer {
  @include footer;
}

@include responsive-smartphones;
